<li class="h-56 grid grid-cols-3 gap-4 content-center">
    <!-- <img src="{{ src }}" alt="{{ name }}" width="100" /> {{ name }} by
    {{ author }} -- using interpolation & below one is using Property Binding-->
    <!-- here  book.name | lowercase gives complete book name into lowercase -->

    <!-- <p> {{i+1}} </p> -->
    <div>
    <img [src]="book.image" [alt]="book.name" width="100" height="150"/><br/> 
    <p> {{ book.name }}</p> 
    <p>{{ book.author }}</p>
    <p>Price {{ book.price | currency: 'INR'}} </p>
    <p> Rating {{book.rating}}</p> 
    </div>
    <button class="btn btn-secondary" *ngIf="!isInCart"
    (click)="addtoCart()"
    >Add to Cart</button>
    <button class="btn btn-secondary" *ngIf="isInCart"
    (click)="removeFromCart()"
    >Remove from Cart</button><br/><br/><br/>
  </li>